@import "tailwindcss";

body {
  background-color: #0D0F12;
}

/* Modern scrollbar and focus ring behaviors */
/* Define the font-face */
@font-face {
  font-family: 'Clash Grotesk';
  src: url('assets/fonts/ClashGrotesk-Variable.ttf') format('truetype-variations');
  font-weight: 100 900;
  /* Supports everything from Thin to Black */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blackheat';
  src: url('assets/fonts/Blackheat.ttf') format('truetype-variations');
  font-weight: 100 900;
  /* Supports everything from Thin to Black */
  font-style: normal;
  font-display: swap;
}

@theme {
  /* For Tailwind v4.0+ */
  --font-secondary: 'Clash Grotesk', sans;
  --font-primary: 'Blackheat', sans-serif;
  --color-black: #0D0F12;
  --color-yellow: #FFD23F;
  --color-offwhite: #FFFDF5;
  --color-matrix: #517eff;
  --color-ecomm: #00C52A;
  --color-psynapse: #FF008C;
  --color-quiz: #990bff;

  --animate-fade-in: fade-in 0.6s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

Canvas {
  height: 100dvh;
}

.text-inner-shadow {
  filter: url(#text-inner-shadow);
}


.glass-shard-glow {
  filter: drop-shadow(0 0 12px rgba(81, 126, 255, 0.45)) drop-shadow(0 0 25px rgba(255, 0, 140, 0.25));
}