@import "tailwindcss";

@font-face {
    font-family: "Clash Display";
    src: url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
    font-weight: 300 900;
    font-style: normal;
}
@font-face {
    font-family: "Blackheat";
    src: url("/fonts/Blackheat.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@theme {
    --font-clash-display: "Clash Display";
    --font-blackheat: "Blackheat";
    --background-image-grid: url('./assets/blackGrid.png');
    --animate-fade-in: fade-in 0.8s ease-out forwards;
    --animate-fade-in-delay: fade-in 0.8s ease-out 1s forwards;
    
    --animate-move-up: move-up 1s ease-out forwards;
    --animate-move-up-delay-1: move-up 1s ease-out 0.2s forwards;
    --animate-move-up-delay-2: move-up 1s ease-out 0.4s forwards;
    --animate-move-up-delay-3: move-up 1s ease-out 0.6s forwards;
}
